body {
  font-family: 'Slabo 27px', serif;
  font-weight: 1000;
  background: url(linedpaper.png) repeat;
}

	h1{
		color: blue;
		}
	h4{
		color: #5A00FF;
	}
	.Summary {
		color: green;
	}

	img {
		width: 25%;
		border-color: green;
		border-style: ridge;
	}
	


